<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="https://kauth.kakao.com/oauth/logout
?client_id=	25a37c50318e2035fbf657a56a6ac6e0
&logout_redirect_uri=http://localhost">
    로그아웃
</a>
<h1 th:text="${nick}"></h1>
<h1 th:text="${email}"></h1>
<form action="http://localhost/join" method="post">
    <input type="password" name="pw" placeholder="pw를 입력">
    <input type="submit" value="회원가입">
</form>
<br>
<a href="https://kapi.kakao.com/v2/push/send/application/x-www-form-urlencoded/KakaoAK{}?uuids="></a>// 카톡 푸시알림 ...

<br>
<img src="https://s.gae9.com/trend/97591b633e067907.orig">
해킹중...

</body>
</html>