<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
</head>
<body>
<a class="p-2" href="/kakaoTest">
  <!-- REST_API키 및 REDIRECT_URI는 본인걸로 수정하세요 -->
  <!-- 본인걸로 수정 시 띄어쓰기 절대 하지 마세요. 오류납니다. -->
  <img src="dog.jpg" style="width:200px; height:300px">
</a>
<br>
<form action="http://localhost/join" method="post">
  <input type="text" name="id" placeholder="id를 입력하시오">
  <input type="password" name="pw" placeholder="pw를 입력하시오">
  <input type="submit" value="회원가입">
</form>
</body>
</html>